<%- include("./partial/header.ejs")%>
    <link rel='stylesheet' href='../stylesheets/userprofilepage.css' />

    <div id="main">
        <div id="m1">

            <div id="profilepage">
                <div id="coverphoto">
                    <div id="cphoto"><img src="/images/coverphotos/<%=founduser.coverphoto%>" alt=""></div>
                </div>
                <div id="profilephoto">
                    <div id="displaypic">
                        <div id="uploadicon"><i class="ri-camera-fill"></i></div>
                        <form id="uploadprofile" action="/uploadprofile" method="post" enctype="multipart/form-data">
                            <input id="select" type="file" name="profileimg">
                            
                        </form>
                        <img src="../images/uploads/<%=founduser.profile%>" alt="">
                        
                    </div>
                    <div id="username">
                        <div id="name">
                            <h3>
                                <%=founduser.First_Name +" "+ founduser.Last_name%></h3></div>
        <div id="totalfriends">
                                    <h4>353 friends</h4>
                        </div>
                    </div>

                    <div id="edit">
                        <button>
                            <div id="editicon"><i class="ri-user-add-fill"></i></div><a href="/addFriend/<%=founduser._id%>">Add Friend</a> 
                        </button>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    <div id="main2">
        <div id="intro">
            <div id="introduction">

            </div>
        </div>
        <div id="Post">
         <div id="postarea">
          
            <%founduser.post.reverse().forEach(function(b){%>
             <%console.log(b.postPic)%>
            <div id="post1">    
                <div id="postedtopel">
                    <div id="align">     <div id="posteddp"> <img src="../images/uploads/<%=founduser.profile%>" alt=""></div>
                <div id="postedusername"><h3><%=founduser.First_Name +" "+ founduser.Last_name%></h3></div></div>
               
                <div id="postmoreicon"><i class="ri-more-line">
                    <div id="menuList">
                        <div id="updatepost"><a href="">update</a></div>
                        <div id="deletepost"><a href="">Delete</a></div>
                        </div>
                    </i>
                    </div>
                </div><
               <div id="posttextdiv"><h3><%=b.postdetails%></h3></div>
                <div id="postimg">
                    <img src="/images/postuploads/<%=b.postPic%>" alt="">
                    </div>
                <div id="likeANDcomment">
                <div id="likepost"> <button><i class="ri-thumb-up-fill"></i><h3>Like</h3></button></div>
                <div id="commentpost">  <button><i  class="ri-chat-3-line"></i>
           <h3>Comment</h3></button></div>
                </div>
                </div>
            <%})%>

            </div>


        </div>
    </div>

    <script>
      
         

    </script>
    <%- include("./partial/footer.ejs")%>